{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

    {% block page_checkout_finish_data %}
        <div class="card checkout-card">
            <div class="card-body">
                {% block page_checkout_finish_header %}
                    <h1 class="finish-header mt-3">
                        {% if page.changedPayment == true %}
                            {{ "checkout.finishUpdateHeader"|trans|sw_sanitize }}
                        {% else %}
                            {{ "checkout.finishHeader"|trans({
                                '%shop%': config('core.basicInformation.shopName')
                            })|sw_sanitize }}
                        {% endif %}
                    </h1>
                {% endblock %}

                {{ block('page_checkout_finish_ordernumber') }}

                {% block page_checkout_finish_hidden_information_line_items %}
                  {% sw_include '@Storefront/storefront/component/checkout/hidden-line-items-information.html.twig' with {
                      cart: page.order,
                      lineItems: page.order.lineItems,
                  } %}
                {% endblock %}

                {% block page_checkout_finish_subtitle %}
                    {% if page.changedPayment == true %}
                        <p class="finish-order-subtitle">
                            {{ "checkout.finishPaymentHeader"|trans({'%paymentName%': page.order.transactions.last.paymentMethod.translated.name})|sw_sanitize }}
                        </p>
                    {% endif %}
                {% endblock %}

                {{ block('page_checkout_finish_content') }}
            </div>
        </div>
    {% endblock %}


{% block page_checkout_finish_order %}
  <div class="row finish-info">

    {% block page_checkout_finish_order_address %}{% endblock %}

    {% block page_checkout_finish_order_details %}{% endblock %}
  </div>
{% endblock %}
