{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_row %}
    <div class="row cms-listing-row js-listing-wrapper listing-grid-layout listing-grid-layout--{{boxLayout}}">
        {% if searchResult.total > 0 %}
            {{ block('element_product_listing_col') }}
        {% else %}
            {{ block('element_product_listing_col_empty') }}
        {% endif %}
    </div>
{% endblock %}

{% block element_product_listing_col %}
    {% for product in searchResult %}
        <div class="cms-listing-col col">
           {{ block('element_product_listing_box')}}
        </div>
    {% endfor %}
{% endblock %}

{% block product_listing %}
    <div class="cms-element-product-listing-wrapper"
         data-listing-category-name="{{ page.metaInformation.metaTitle|striptags|trim }}"
         data-listing-category-id="{{ page.navigationId }}"
         data-listing-currency="{{ context.currency.isoCode }}"
         data-listing-pagination="true"
         {# ludtwig-ignore html-string-quotation #}
         data-listing-pagination-options='{{ paginationConfig }}'
         data-listing="true"
         {# ludtwig-ignore html-string-quotation #}
         data-listing-options='{{ listingPagination|json_encode }}'>

         {{ block('element_product_listing_wrapper_content') }}
    </div>
{% endblock %}
