{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box %}
    {% if product %}
        {% set name = product.translated.name %}
        {% set id = product.id %}
        {% set cover = product.cover.media %}
        {% set buyable = product.available and product.calculatedMaxPurchase > 0 %}

        {% if not product.manufacturer.name and product.manufacturerId %}
            {% set manufacturer = getInfoById(product.manufacturerId, 'productManufacturer') %}
        {% endif %}

        <a href="{{ seoUrl('frontend.detail.page', {'productId': product.canonicalProductId ?? id }) }}" title="{{ name }}" class="product-card-link" data-product-card-link>
            <div class="card product-box box-{{ layout }}">
                {% block component_product_box_content %}

                    <div class="card-body">
                        {% block component_product_box_badges %}
                            {% if not buyable %}
                                <div class="product-badge product-badge--out-of-stock">
                                    {{ "mmOptions.outOfStock"|trans|sw_sanitize }}
                                </div>
                            {% elseif product.translated.customFields.product_badge %}
                                <div class="product-badge" style="
                                    {% if product.translated.customFields.product_badge_text_color %}color:{{product.translated.customFields.product_badge_text_color}};{% endif %}
                                    {% if product.translated.customFields.product_badge_background_color %}background-color:{{product.translated.customFields.product_badge_background_color}};{% endif %}">
                                    {{ product.translated.customFields.product_badge }}
                                </div>
                            {% endif %}
                        {% endblock %}

                        {% block component_product_box_image %}
                            <div class="product-image-link">
                                <div class="product-image-link-wrapper {% if not buyable %}out-of-stock{% endif %}">
                                    {% if cover.url %}
                                        {% set attributes = {
                                            'class': 'product-image is-'~displayMode,
                                            'alt': (cover.translated.alt ?: name),
                                            'title': (cover.translated.title ?: name),
                                            'loading': 'lazy'
                                        } %}
                                        {% sw_thumbnails 'product-image' with {
                                            media: cover,
                                            sizes: {
                                                'xs': '500px',
                                                'sm': '350px',
                                                'md': '450px',
                                                'lg': '270px',
                                                'xl': '300px'
                                            }
                                        } %}
                                    {% else %}
                                        <div class="product-image-placeholder">
                                            {% sw_icon 'placeholder' style {
                                                'size': 'fluid'
                                            } %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endblock %}

                        {% block component_product_box_info %}
                            <div class="product-info">
                                <div class="mb-1">
                                    {% block component_product_box_manufacturer %}
                                        {% if manufacturer.name or product.manufacturer.name %}
                                            <div class="product-manufacturer">
                                                {% if manufacturer.name %}
                                                    {{ manufacturer.name }}
                                                {% else %}
                                                    {{ product.manufacturer.name }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    {% endblock %}

                                    {% block component_product_box_name %}
                                        <span class="product-name">
                                            {{ name|split(' [id:')|first }}
                                        </span>
                                    {% endblock %}

                                    {% block component_product_spotlight %}
                                        <span class="product-spotlight">
                                            {{ product.translated.customFields.product_spotlight|raw }}
                                        </span>
                                    {% endblock %}
                                </div>

                                {{ block('component_product_box_price') }}
                                {{ block('component_product_box_action') }}
                            </div>
                        {% endblock %}
                    </div>

                {% endblock %}
            </div>
        </a>
    {% endif %}
{% endblock %}
