{% sw_extends '@Storefront/storefront/page/account/index.html.twig' %}

{% block page_account_overview_addresses_include %}{% endblock %}

{% block page_account_overview_main %}
    <div class="row">
        {% block page_account_overview_profile %}
            <div class="col card-col account-overview-card account-overview-profile mb-4">
                {% block page_account_overview_profile_card %}
                    <div class="card">
                        <div class="card-body">
                            {% block page_account_overview_profile_title %}
                                <h2 class="card-title">
                                    {{ "account.overviewProfileHeader"|trans|sw_sanitize }}
                                </h2>
                            {% endblock %}

                            {% block page_account_overview_profile_content %}
                                <div class="account-customer-name">{{ context.customer.firstName }}</div>
                            {% endblock %}

                            <div class="account-customer-email">
                                {{ context.customer.email }}
                            </div>

                            {% block page_account_overview_profile_actions %}
                                <div class="card-actions">
                                    {% block page_account_overview_profile_actions_content %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block page_account_overview_payment %}{% endblock %}

{% block page_account_overview_newsletter %}
    <div class="account-overview-card account-overview-newsletter mb-4">
        <div class="card">
            <div class="card-body">
                {{ block('page_account_overview_newsletter_title') }}
                {{ block('page_account_overview_newsletter_content') }}
            </div>
        </div>
    </div>
{% endblock %}
