{# Prepare tabs #}

{% set customFields = page.product.translated.customFields %}
{% set customTabs = [] %}

{% for field, item in customFields %}
  {% if field ends with '_title' and field starts with 'product_tab_' %}
    {% set tabContent = field|replace({"_title": "_content"}) %}
    {% set customTabs = customTabs|merge({(field): {field: field, title: item, content: customFields[tabContent]}})|sort %}
  {% endif %}
{% endfor %}

{% block page_product_detail_tabs_inner %}

      {% block page_product_detail_tabs_navigation %}
      <div class="product-detail-tab-navigation swiper pills--fade pills__fade--right" data-mm-swiper-pills="true">
        {% block page_product_detail_tabs_navigation_container %}
          <ul class="product-detail-tab-navigation-list swiper-wrapper" id="product-detail-tabs" role="tablist">
            {% block page_product_detail_tabs_navigation_description %}
              <li class="product-detail-tab-navigation-toggler swiper-slide">
                <a class="product-detail-tab-navigation-link" id="description-tab" href="#description-tab-pane" aria-controls="description-tab-pane">
                  <span>{{ "detail.tabsDescription"|trans|sw_sanitize }}</span>
                </a>
              </li>
            {% endblock %}

            {% for key, data in customTabs %}
              {% if data.title != '' and data.content != '' %}
                {% block page_product_custom_tab_title %}
                  <li class="product-detail-tab-navigation-toggler swiper-slide">
                    <a class="product-detail-tab-navigation-link"
                      id="description-tab-{{loop.index}}"
                      href="#description-tab-pane-{{loop.index}}">

                      <span>{{ data.title }}</span>
                    </a>
                  </li>
                {% endblock %}
              {% endif %}
            {% endfor %}

            {# REVIEWS HIDDEN #}
            {# {% block page_product_detail_tabs_navigation_review %}
              {% if config('core.listing.showReview') %}
                <li class="product-detail-tab-navigation-toggler">
                  <a class="product-detail-tab-navigation-link" href="#review-tab-pane" aria-controls="review-tab-pane">
                    {{ "detail.tabsReview"|trans|sw_sanitize }}
                  </a>
                </li>
              {% endif %}
            {% endblock %} #}
          </ul>
        {% endblock %}
      </div>
    {% endblock %}

{% endblock %}
