{% sw_extends '@Storefront/storefront/page/account/order/index.html.twig' %}

{% block page_checkout_header %}
    {{ parent() }}

    <h4 class="confirm-main-header mb-0">
        #{{page.order.orderNumber}} {{ "account.completePayment"|trans|sw_sanitize }}
    </h4>
{% endblock %}

{% block page_checkout_confirm_header %}
    {% if page.errorCode == 'CHECKOUT__CUSTOMER_CANCELED_EXTERNAL_PAYMENT' %}
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: 'danger',
            content: 'account.externalPaymentCanceled'|trans|sw_sanitize
        } %}
    {% elseif page.errorCode == 'CHECKOUT__PAYMENT_TOKEN_EXPIRED' %}
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: 'danger',
            content: 'account.externalPaymentExpired'|trans|sw_sanitize
        } %}
    {% elseif page.errorCode is not null %}
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: 'danger',
            content: 'account.externalPaymentFailure'|trans|sw_sanitize
        } %}
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_tos_control %}
    {{ "checkout.confirmTermsReminderText"|trans({
        '%url%': path('frontend.cms.page', { id: config('core.basicInformation.tosPage') })
    })|raw }}
{% endblock %}

{% block page_checkout_confirm_payment_selector %}
    <div class="confirm-payment-selector payment__methods">
        {% sw_include '@Storefront/storefront/page/account/order/order-payment-selector.html.twig' %}
    </div>
{% endblock %}

{% block page_checkout_confirm_payment %}
    <div class="confirm-payment-body">
        {% sw_include '@Storefront/storefront/page/account/order/order-payment-body.html.twig' %}
    </div>
{% endblock %}

{% block page_checkout_confirm_shipping %}
    <div class="confirm-shipping py-2">
        {% sw_include '@Storefront/storefront/page/account/order/confirm-shipping.html.twig' %}
    </div>
{% endblock %}

{% block page_checkout_finish_customer_comment %}
    <div class="pb-4">
        {{ block('page_checkout_confirm_customer_comment_control') }}
    </div>

    <div class="pb-4">
        {% sw_include '@Storefront/storefront/page/checkout/confirm/payment-messengers.html.twig' with {
            disabled: true
        } %}
    </div>
{% endblock %}

{% block page_checkout_confirm_table_items %}
    {% for lineItem in page.order.lineItems %}
          {% block page_checkout_confirm_table_item %}
              {% sw_include '@Storefront/storefront/component/line-item/line-item.html.twig' with {
                  redirectTo: 'frontend.checkout.confirm.page',
                  showTaxPrice: true,
                  displayMode: 'offcanvas',
                  showRemoveButton: false
              } %}
          {% endblock %}
    {% endfor %}
{% endblock %}

{% block page_checkout_aside_actions %}
    <div class="checkout-aside-action">
        <form id="confirmOrderForm"
              action="{{ path('frontend.account.edit-order.update-order', { 'orderId': page.order.id }) }}"
              data-form-submit-loader="true"
              data-form-preserver="true"
              method="post">

            {% block page_checkout_aside_actions_payment_method_id %}
                <input type="hidden" name="paymentMethodId" value="{{ context.getPaymentMethod.getId }}">
            {% endblock %}

            {% set paymentMethodInvalid = true %}

            {% for payment in page.paymentMethods %}
                {% if payment.id is same as(context.paymentMethod.id) %}
                    {% set paymentMethodInvalid = false %}
                {% endif %}
            {% endfor %}

            {% block page_checkout_confirm_form_submit %}
                <input type="hidden"
                    name="amazonPayCheckoutId"
                    value="{{ amazonPayConfirmExtension.checkoutSessionId }}"/>

                <div class="d-grid">
                    <button
                        class="btn btn-primary btn-lg"
                        {% if page.paymentChangeable == false or paymentMethodInvalid == true %}
                            disabled="disabled"
                        {% endif %}
                        type="submit">
                        {{ "account.editOrderUpdateButton"|trans|sw_sanitize }}
                    </button>
                </div>
            {% endblock %}
        </form>

        {% block page_checkout_aside_cancel_order_modal_toggle %}
            {% if page.order.stateMachineState.technicalName != 'cancelled' and config('core.cart.enableOrderRefunds') %}
                <button type="button"
                        class="btn btn-light btn-block edit-order-cancel-order-modal-toggle-btn"
                        data-bs-toggle="modal"
                        data-bs-target="#cancelOrderModal">
                    {{ "account.editOrderCancelOrderButton"|trans|sw_sanitize }}
                </button>
            {% endif %}
        {% endblock %}

        {% if orderState != 'cancelled' %}
            {% sw_include '@Storefront/storefront/page/account/order/cancel-order-modal.html.twig' %}
        {% endif %}
    </div>
{% endblock %}
