{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_inner %}
    {% set id = product.id %}

    {% if config('core.listing.allowBuyInListing') or isMinimal %}
        <div class="product-action">
            {% set isAvailable = not product.isCloseout or (product.availableStock >= product.minPurchase) %}
            {% if isAvailable and not product.isGrouped and product.childCount <= 0 %}

                {% block component_product_box_action_buy %}
                       <form
                              method="post"
                              class="buy-widget"
                              data-add-to-cart="true">

                            {% set uniqId = id %}

                            {% block component_product_box_action_form %}
                                {% block component_product_box_action_buy_redirect_input %}
                                    {# fallback redirect back to detail page is deactivated via js #}
                                    <input type="hidden"
                                           name="redirectTo"
                                           value="frontend.detail.page">
                                    <input type="hidden"
                                           name="redirectParameters"
                                           data-redirect-parameters="true"
                                           value='{"productId": "{{ product.id }}"}'>
                                {% endblock %}

                                {% block page_product_mm_options %}
                                    <input type="hidden"
                                        data-mm-product-line-item-name
                                        name="lineItems[{{ uniqId }}][sourceId]"
                                        value="{{ product.parentId ?? id }}">
                                    <input type="hidden"
                                        data-mm-product-line-item-name
                                        name="lineItems[{{ uniqId }}][currency]"
                                        value="{{ context.currency.isoCode }}">
                                    <input type="hidden"
                                        data-mm-product-line-item-name
                                        name="lineItems[{{ uniqId }}][lineItemPrice]"
                                        value="">
                                    <input type="hidden"
                                        data-mm-product-line-item-name
                                        name="lineItems[{{ uniqId }}][options]">
                                    <input type="hidden"
                                        data-mm-product-line-item-name
                                        name="lineItems[{{ uniqId }}][comments]">
                                    <input type="hidden"
                                        data-mm-product-line-item-name
                                        name="lineItems[{{ uniqId }}][serviceComments]">
                                {% endblock %}

                                {% block page_product_detail_buy_product_buy_info %}
                                    <input type="hidden"
                                           data-mm-product-line-item-name
                                           data-mm-product-line-item-value
                                           name="lineItems[{{ uniqId }}][id]"
                                           value="{{ uniqId }}">
                                    <input type="hidden"
                                           data-mm-product-line-item-name
                                           name="lineItems[{{ uniqId }}][referencedId]"
                                           value="{{ id }}">
                                    <input type="hidden"
                                           data-mm-product-line-item-name
                                           name="lineItems[{{ uniqId }}][type]"
                                           value="product">
                                    <input type="hidden"
                                           data-mm-product-line-item-name
                                           name="lineItems[{{ uniqId }}][stackable]"
                                           value="1">
                                    <input type="hidden"
                                           data-mm-product-line-item-name
                                           name="lineItems[{{ uniqId }}][removable]"
                                           value="1">
                                    <input type="hidden"
                                           data-mm-product-line-item-name
                                           name="lineItems[{{ uniqId }}][quantity]"
                                           value="1">
                                {% endblock %}
                                {% block page_product_detail_product_buy_meta %}
                                    <input type="hidden"
                                           name="product-name"
                                           value="{{ product.translated.name }}">
                                {% endblock %}
                                <button class="btn btn-block btn-buy"
                                        {% if not buyable %}disabled{% endif %}
                                        title="{{ "listing.boxAddProduct"|trans|striptags }}">
                                    {# {{ "listing.boxAddProduct"|trans|sw_sanitize }} #}
                                    {% sw_icon 'cart' %}
                                </button>
                            {% endblock %}
                        </form>
                {% endblock %}
            {% else %}
                {% block component_product_box_action_detail %}
                    <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
                       class="btn btn-block btn-light"
                       title="{{ "listing.boxProductDetails"|trans|striptags }}">
                        {{ "listing.boxProductDetails"|trans|sw_sanitize }}
                    </a>
                {% endblock %}
            {% endif %}
        </div>
    {% endif %}

    {% block component_product_box_action_meta %}
        <input type="hidden"
        name="product-name"
        value="{{ product.translated.name }}">
        <input type="hidden"
        name="product-id"
        value="{{ product.parentId ?? id }}">
        <input type="hidden"
        name="product-brand"
                value="{{ product.manufacturer.getName() }}">

        {% set fromPrice = product.customFields.custom_options_min_price %}
        {% set factor = context.currency.factor %}
        {% if context.currency.isoCode === 'USD' and product.customFields.custom_options_min_price_usd is not empty %}
                {% set fromPrice = product.customFields.custom_options_min_price_usd %}
                {% set factor = 1 %}
        {% endif %}
        {% set discount = product.customFields.custom_options_discount %}
        {% set simplePrice = product.calculatedPrice.unitPrice %}
        {% set additionalPrice = product.customFields.custom_options_ghost_additional_price %}
        {% if context.currency.isoCode === 'USD' and product.customFields.custom_options_ghost_additional_price_usd is not empty %}
                {% set additionalPrice = product.customFields.custom_options_ghost_additional_price_usd %}
        {% endif %}
        {% set additionalPriceMode = product.customFields.custom_options_ghost_additional_price_mode %}
        {% set additionalPriceRounding = product.customFields.custom_options_ghost_additional_price_rounding %}

        {% set productMinPrice = 0 %}
        {% set productQuantity = product.minPurchase %}
        {% set productDiscountedPrice = null %}

        {% if discount == empty and additionalPrice == empty %}
            {% if fromPrice != empty %}
                {% set productMinPrice = (0 + fromPrice * factor)|format_number({fraction_digit: 2}) %}
            {% else %}
                {% set productMinPrice = (simplePrice)|format_number({fraction_digit: 2}) %}
            {% endif %}
        {% else %}
            {% if fromPrice != empty %}
                {% set productMinPrice = fromPrice * factor * (100 - discount) / 100 %}
                {% set productMinPrice = productMinPrice|format_number({fraction_digit: 2}) %}
            {% else %}
                {% set productMinPrice = simplePrice * (100 - discount) / 100 %}
                {% set productMinPrice = productMinPrice|format_number({fraction_digit: 2}) %}
            {% endif %}
        {% endif %}

        {% set mainCategoryId = product.categoryTree|last %}
        {% set mainCategory = product.categories.elements[mainCategoryId] %}
        {% set categoryTitle = mainCategory.metaTitle %}

        <input type="hidden"
                name="product-quantity"
                value="{{ productQuantity }}">
        <input type="hidden"
                name="product-price"
                value="{{ productMinPrice }}">
        <input type="hidden"
                name="product-category"
                value="{{ categoryTitle }}">
    {% endblock %}
{% endblock %}
