{% block component_payment_mesengers %}
    <div class="payment__details-messengers mt-4">
        <div class="payment__details-header">{{ "mm-theme.checkout.messengersHeader"|trans|sw_sanitize }}</div>

        <div class="input-group mb-2">
            <div class="input-group-prepend input-group-text">
                <svg class="payment__contacts-icon"><use xlink:href="#mmo-btag"></use></svg>
            </div>
            <input class="form-control messenger" value="{{ context.customer.customFields.mm_theme_customer_battletag }}" data-label="BattleTag" data-field="mm_theme_customer_battletag" placeholder="BattleTag" {% if disabled %}disabled{% endif %}>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend input-group-text">
                <svg class="payment__contacts-icon"><use xlink:href="#mmo-email"></use></svg>
            </div>
            <input class="form-control messenger" value="{{ context.customer.customFields.mm_theme_customer_email ? context.customer.customFields.mm_theme_customer_email : context.customer.email }}" data-label="E-mail" data-field="mm_theme_customer_email" placeholder="E-mail" {% if disabled %}disabled{% endif %}>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend input-group-text">
                <svg class="payment__contacts-icon"><use xlink:href="#mmo-whatsapp"></use></svg>
            </div>
            <input class="form-control messenger" value="{{ context.customer.customFields.mm_theme_customer_whatsapp }}" data-label="Whatsapp" data-field="mm_theme_customer_whatsapp" placeholder="Whatsapp" {% if disabled %}disabled{% endif %}>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend input-group-text">
                <svg class="payment__contacts-icon"><use xlink:href="#mmo-discord"></use></svg>
            </div>
            <input class="form-control messenger" value="{{ context.customer.customFields.mm_theme_customer_discord }}" data-label="Discord" data-field="mm_theme_customer_discord" placeholder="Discord" {% if disabled %}disabled{% endif %}>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend input-group-text">
                <svg class="payment__contacts-icon"><use xlink:href="#mmo-skype"></use></svg>
            </div>
            <input class="form-control messenger" value="{{ context.customer.customFields.mm_theme_customer_skype }}" data-label="Skype" data-field="mm_theme_customer_skype" placeholder="Skype" {% if disabled %}disabled{% endif %}>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend input-group-text">
                <svg class="payment__contacts-icon"><use xlink:href="#mmo-telegram"></use></svg>
            </div>
            <input class="form-control messenger" value="{{ context.customer.customFields.mm_theme_customer_telegram }}" data-label="Telegram" data-field="mm_theme_customer_telegram" placeholder="Telegram" {% if disabled %}disabled{% endif %}>
        </div>
    </div>
{% endblock %}
