{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    {% block layout_header_navigation %}
        <div class="header-custom-row">
            {% block base_header_icons %}
                {% sw_include '@Storefront/storefront/layout/header/header-icons.html.twig' %}
            {% endblock %}

            {% block layout_header_navigation_toggle %}
              <div class="header-actions-col-left">
                <div class="header-menu-button">
                  {% block layout_header_navigation_toggle_button %}
                    <button class="btn nav-main-toggle-btn header-actions-btn"
                            type="button"
                            data-offcanvas-menu="true"
                            aria-label="{{ "general.menuLink"|trans|striptags }}">
                        {% block layout_header_navigation_toggle_button_icon %}
                            {% sw_icon 'stack' %}
                        {% endblock %}
                    </button>
                  {% endblock %}
                </div>

                <div class="search-toggle">
                    <label class="btn header-actions-btn mb-0"
                          for="searchbar"
                          aria-label="{{ "header.searchButton"|trans|striptags }}">
                        {% sw_icon 'search' %}
                    </label>
                </div>

                <div class="d-flex d-lg-none">
                    {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' with {
                        key: 'mobile'
                    } %}
                </div>
              </div>
            {% endblock %}

            {% block layout_header_logo %}
                <div class="header-logo-col">
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            {% endblock %}

            {% block layout_header_main_navigation %}
              <div class="header-nav-col">
                  {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
              </div>
            {% endblock %}

            {% block layout_header_actions %}
                <div class="header-actions-col">
                        {% block layout_header_search_toggle %}
                            <div class="d-none d-lg-flex search-toggle">
                                <label class="btn header-actions-btn js-search-toggle-btn mb-0"
                                        for="searchbar"
                                        aria-label="{{ "header.searchButton"|trans|striptags }}">
                                    {% sw_icon 'search' %}
                                </label>
                            </div>
                        {% endblock %}

                        {% block layout_header_actions_account %}
                            <div class="account-menu">
                                {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                            </div>
                        {% endblock %}

                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_actions_wishlist %}
                            <div class="header-wishlist">
                                <a class="btn header-wishlist-btn header-actions-btn"
                                    href="{{ path('frontend.wishlist.page') }}"
                                    title="{{ 'header.wishlist'|trans|striptags }}"
                                    aria-label="{{ 'header.wishlist'|trans|striptags }}">
                                    {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
                                </a>
                            </div>
                            {% endblock %}
                        {% endif %}

                        {% block layout_header_top_bar_currency %}
                            <div class="d-none d-lg-flex">
                                {% sw_include '@Storefront/storefront/layout/header/actions/currency-widget.html.twig' with {
                                    key: 'full'
                                } %}
                            </div>

                            {% sw_include '@Storefront/storefront/layout/header/country-switcher.html.twig' %}
                        {% endblock %}

                        {% block layout_header_actions_cart %}
                            <div class="header-cart"
                                    data-offcanvas-cart="true">
                                <a class="btn header-cart-btn header-actions-btn mb-0"
                                    href="{{ path('frontend.checkout.cart.page') }}"
                                    data-cart-widget="true"
                                    title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                    aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                    {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                </a>
                            </div>

                        {% endblock %}

                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
