{% sw_extends '@Storefront/storefront/component/line-item/type/product.html.twig' %}

{% block component_line_item_type_product %}
    <div class="{{ lineItemClasses }}">
        <div class="line-item-row">

            {% set showLineItemModal = controllerAction is same as('confirmPage') %}

            {% if nestingLevel < 1 %}
                {% block component_line_item_type_product_image %}
                    <div class="line-item-img-box">
                        <div class="line-item-img-container">
                            {% block component_line_item_type_product_image_inner %}
                                {% set productId = lineItem.payload.parentId ? lineItem.payload.parentId : lineItem.referencedId %}

                                {# @deprecated tag:v6.6.0 - Boolean variable productLink will be removed, use lineItemLink and lineItemModalLink instead and pass the desired url as string #}

                                {% sw_include '@Storefront/storefront/component/line-item/element/image.html.twig' with {
                                    productLink: true,
                                    lineItemLink: seoUrl('frontend.detail.page', { 'productId': productId }),
                                    lineItemModalLink: showLineItemModal ? path('widgets.quickview.minimal', { 'productId': productId }) : false,
                                } %}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            {% endif %}

            {% block component_line_item_type_product_col_info %}
                <div class="line-item-info">
                    {% block component_line_item_type_product_details %}
                        <div class="line-item-details">
                            <div class="line-item-details-container">
                                {% block component_line_item_type_product_label %}
                                    {% set productId = lineItem.payload.parentId ? lineItem.payload.parentId : lineItem.referencedId %}

                                    {# @deprecated tag:v6.6.0 - Boolean variable productLink will be removed, use lineItemLink and lineItemModalLink instead and pass the desired url as string #}
                                    {% sw_include '@Storefront/storefront/component/line-item/element/label.html.twig' with {
                                        productLink: true,
                                        lineItemLink: seoUrl('frontend.detail.page', { 'productId': productId }),
                                        lineItemModalLink: showLineItemModal ? path('widgets.quickview.minimal', { 'productId': productId }) : false,
                                    } %}
                                {% endblock %}

                                {% sw_include '@Storefront/storefront/component/line-item/element/options.html.twig' with {
                                    'options': lineItem.payload.customFields.comments
                                } %}

                                {% if lineItem.payload.options is not empty %}
                                    {{ block('component_line_item_type_product_variant_characteristics') }}
                                {% endif %}

                                {% if lineItem.payload.features is not empty %}
                                    {{ block('component_line_item_type_product_features') }}
                                {% endif %}

                                {% if lineItem.payload.productNumber %}
                                    {{ block('component_line_item_type_product_number') }}
                                {% endif %}

                                {% if config('core.cart.showDeliveryTime') %}
                                    {% block component_line_item_type_product_delivery_date %}
                                        {% sw_include '@Storefront/storefront/component/line-item/element/delivery-date.html.twig' %}
                                    {% endblock %}
                                {% endif %}

                                {% if config('core.cart.wishlistEnabled') %}
                                    {{ block('component_line_item_type_product_wishlist') }}
                                {% endif %}

                                <div class="line-item-details-units">
                                    {{ block('component_line_item_type_product_col_quantity') }}
                                    <div>×</div>
                                    {{ block('component_line_item_type_product_col_unit_price') }}
                                </div>

                                {{ block('component_line_item_type_product_col_total_price') }}
                            </div>
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}

            {{ block('component_line_item_type_product_col_quantity') }}

            {% if showTaxPrice %}
                {{ block('component_line_item_type_product_col_tax_price') }}
            {% else %}
                {{ block('component_line_item_type_product_col_unit_price') }}
            {% endif %}

            {{ block('component_line_item_type_product_col_total_price') }}

            {% if showRemoveButton %}
                {% block component_line_item_type_product_col_remove %}
                    <div class="line-item-remove">
                        {% if lineItem.removable and nestingLevel < 1 %}
                            {% sw_include '@Storefront/storefront/component/line-item/element/remove.html.twig' %}
                        {% endif %}
                    </div>
                {% endblock %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block component_line_item_type_product_variant_characteristics %}{% endblock %}
{% block component_line_item_type_product_features %}{% endblock %}
{% block component_line_item_type_product_number %}{% endblock %}
{% block component_line_item_type_product_wishlist %}{% endblock %}

{% block component_line_item_type_product_col_quantity %}
    <div class="line-item-quantity">
        {% if lineItem.payload.customFields.custom_options_double_quantity_mode %}
            1
        {% else %}
            {{ lineItem.quantity }}
        {% endif %}
    </div>
{% endblock %}

{% block component_line_item_type_product_col_total_price %}
    <div class="line-item-total-price">
        {{ lineItem.price.totalPrice|currency }}
    </div>
{% endblock %}

{% block component_line_item_type_product_col_tax_price %}{% endblock %}

{% block component_line_item_type_product_col_unit_price %}
    <div class="line-item-unit-price">
        {{ lineItem.price.unitPrice|currency }}
    </div>
{% endblock %}
