{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box %}
    {% if product %}
        {% set name = product.translated.name %}
        {% set id = product.id %}
        {% set cover = product.cover.media %}
        {% set buyable = product.available and product.childCount <= 0 and product.calculatedMaxPurchase > 0 %}

        {% set timerEnabled = false %}
        {% if product.customFields.custom_offer_datetime != null %}
            {% set timerEnabled = true %}

            {% if product.customFields.custom_offer_datetime|date('U') < 'now'|date('U') %}
                {% set buyable = false %}
            {% endif %}
        {% endif %}

        <div class="card product-box box-{{ layout }}">
            {% block component_product_box_content %}

                <div class="card-body">
                    {{ block('component_product_box_badges') }}

                    {{ block('component_product_box_rich_snippets') }}

                    {% block component_product_box_image %}
                        <div class="product-image-wrapper">
                            <span class="product-image-link
                                {% if not buyable %}out-of-stock{% endif %}">
                                {% if cover.url %}
                                    {% set attributes = {
                                        'class': 'product-image is-'~displayMode,
                                        'alt': (cover.translated.alt ?: name),
                                        'title': (cover.translated.title ?: name),
                                        'loading': 'lazy'
                                    } %}

                                    {% if displayMode == 'cover' or displayMode == 'contain' %}
                                        {% set attributes = attributes|merge({ 'data-object-fit': displayMode }) %}
                                    {% endif %}

                                    {% sw_thumbnails 'product-image-thumbnails' with {
                                        media: cover,
                                        sizes: {
                                            'xs': '501px',
                                            'sm': '315px',
                                            'md': '427px',
                                            'lg': '333px',
                                            'xl': '284px'
                                        }
                                    } %}

                                {% else %}
                                    <div class="product-image-placeholder">
                                        {% sw_icon 'placeholder' style {
                                            'size': 'fluid'
                                        } %}
                                    </div>
                                {% endif %}
                            </span>
                        </div>
                    {% endblock %}

                    {% block component_product_box_info %}
                        <div class="product-info">
                            <div class="mb-1">
                                {% block component_product_box_manufacturer %}
                                    {% if product.manufacturer.name != empty %}
                                        <div class="product-manufacturer">{{ product.manufacturer.name }}</div>
                                    {% endif %}
                                {% endblock %}

                                {% block component_product_box_name %}
                                    <div class="product-name-row">
                                        <div class="product-name">
                                            {{ name|split(' [id:')|first }}
                                        </div>

                                        {% if timerEnabled %}
                                            {% set timerConfig = {
                                                expiredAt: product.translated.customFields.custom_offer_datetime,
                                                offerExpired: "mm-theme.product.offerExpired"|trans|sw_sanitize
                                            } %}

                                            {% block component_product_box_timer %}
                                                <div class="product-timer">
                                                    <div class="mm-timer">
                                                        <span data-timer-helper data-timer-helper-options="{{ timerConfig|json_encode }}"></span>
                                                    </div>
                                                </div>
                                            {% endblock %}
                                        {% endif %}
                                    </div>
                                {% endblock %}

                                {% block component_product_box_note %}
                                    <div class="product-note">
                                        {{ product.translated.customFields.product_tabs_custom_note|raw }}
                                    </div>
                                {% endblock %}
                            </div>

                            {% block component_product_box_description %}
                                <div class="product-description mb-1">
                                    {{ product.translated.description|raw }}
                                </div>
                            {% endblock %}

                            <div class="product-buy-row">
                                <div class="product-prices">

                                    {% if product.stock %}
                                        <div class="product-stock">
                                            {{ "mm-theme.product.offerStockCount"|trans({'%stockCount%': product.stock })|sw_sanitize }}
                                        </div>
                                    {% endif %}

                                    {% if buyable %}
                                        {% block component_product_box_price %}
                                            {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
                                            {% sw_include '@Storefront/storefront/component/product/card/coins.html.twig' %}
                                        {% endblock %}
                                    {% else %}
                                        <div class="product-price-info">
                                            <p class="product-price out-of-stock">{{ "mm-theme.product.outOfStock"|trans|sw_sanitize }}</p>
                                        </div>
                                    {% endif %}
                                </div>

                                {% block component_product_box_action %}
                                    {% sw_include '@Storefront/storefront/component/product/card/action.html.twig' with {
                                        isMinimal: 1,
                                        isExpired: isExpired
                                    } %}
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}
                </div>

            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
