{% block component_hidden_line_items_information %}
    <div class="d-none hidden-line-items-information"
         data-currency="{{ context.currency.translated.shortName }}"
         data-shipping="{{ cart.deliveries.shippingCosts.sum().totalPrice }}"
         data-value="{{ cart.price.totalPrice }}"
         data-tax="{{ cart.price.calculatedTaxes.amount }}"
    >
        {% set PRODUCT_LINE_ITEM_TYPE = constant('Shopware\\Core\\Checkout\\Cart\\LineItem\\LineItem::PRODUCT_LINE_ITEM_TYPE') %}

        {% for lineItem in lineItems %}
            {% if lineItem.priceDefinition.price and lineItem.priceDefinition.price is float %}
              {% set gaPrice = lineItem.priceDefinition.price %}
            {% else %}
              {% set gaPrice = lineItem.price.totalPrice %}
            {% endif %}

            {% set label = lineItem.label|trans|sw_sanitize %}
            {% set label = label !== '' ? label : lineItem.label %}
            {% set _label = label|split(' [id:')|first|u.truncate(60, '...', false)|raw %}

            {% block component_hidden_line_item_information %}

                {% if lineItem.type == PRODUCT_LINE_ITEM_TYPE %}
                  {% set _product = getInfoById(lineItem.payload.parentId, 'product') %}
                  {% set mainCategoryId = _product.categoryTree|last %}
                  {% set mainCategory = _product.categories.elements[mainCategoryId] %}
                  {% set categoryTitle = mainCategory.metaTitle %}

                  <span class="hidden-line-item"
                        data-id="{{ lineItem.payload.parentId ?? lineItem.referencedId }}"
                        data-name="{{ _label }}"
                        data-quantity="{{ lineItem.quantity }}"
                        data-price="{{ gaPrice }}"
                        data-brand="{{ _product.manufacturer.getName() }}"
                        data-category="{{ categoryTitle }}">
                  </span>
                {% endif %}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
