{% sw_extends '@Storefront/storefront/component/payment/payment-method.html.twig' %}

{% block component_payment_method_field %}
    {# APPLE PAY MOLLIE HACK #}
    {% if payment.formattedHandlerIdentifier == 'handler_kiener_applepaypayment' %}
        <meta class="payment-method-input applepay" id="paymentMethod{{ payment.id }}" />
    {% endif %}

    <div class="payment-form-group form-group  {% if payment.position == 0 %} payment-method--break{% endif %}">
        {% block component_payment_method_control %}
            <div class="custom-control custom-radio payment-method-radio">
                {% block component_payment_method_label %}
                    <label class="custom-control-label payment-method-label {% if payment.id is same as(selectedPaymentMethodId) %}payment-method-label--active{% endif %}"
                            for="paymentMethod{{ payment.id }}"
                            data-payment-method-name="{{ payment.translated.name }}">
                        {% block component_payment_method_image %}
                            {% if payment.media %}
                                {% sw_thumbnails 'payment-method-image-thumbnails' with {
                                    media: payment.media,
                                    sizes: {
                                        'default': '100px'
                                    },
                                    attributes: {
                                        'class': 'payment-method-image',
                                        'alt': (payment.media.translated.alt ?: payment.translated.name),
                                        'title': (payment.media.translated.title ?: payment.translated.name)
                                    }
                                } %}
                            {% endif %}
                        {% endblock %}

                        {% block component_payment_method_description %}
                            <div class="payment-method-description">
                                <strong>{{ payment.translated.name }}</strong>

                                {{ payment.customFields.payment_selector_logos|raw }}

                                {% if page.cart %}
                                    {% set summary = page.cart %}
                                {% elseif page.order %}
                                    {% set summary = page.order %}
                                {% endif %}

                                {% set fee = payment.customFields.payment_fee ?? 0 %}

                                {% sw_include '@Storefront/storefront/component/payment/payment_fee.html.twig' with {
                                    summary: summary,
                                    fee: fee
                                } %}
                            </div>
                        {% endblock %}
                    </label>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block component_payment_fieldset_template %}{% endblock %}
